pip install pandas
pip install torch torchvision --extra-index-url https://download.pytorch.org/whl/cu116
pip install transformers
pip install -U scikit-learn
pip install scikit-multilearn
pip install nltk
pip install matplotlib 
pip install seaborn